:root{
	--background:#FDF0D5;
	--asha-red:#780000;
	--asha-light-red:#C1121F;
	--druj-blue:#003049;
	--druj-light-blue:#669BBC;
}
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
a{
	text-decoration:none;
}
body{
	background-color:var(--background);
}
.disable-vertical-scroll{
	display: grid;
    grid-template-rows: 120px calc(100vh - 120px);
}
header{
	width:100%;
	position:relative;
}
header nav{
	display: flex;
	justify-content:center;
	padding-top:1%;
}
header nav ul{
	display: inline-flex;
    width: 100%;
    justify-content: center;
    align-items:flex-end;
    gap:2%;
}
header nav ul .link{
	padding-bottom:2%;
	flex-grow:2;
	display:flex;
	flex-direction: column;
    flex-wrap: nowrap;
}
header nav ul li{
	list-style:none;
}
header nav ul li:first-child{
	align-items: flex-end;
}
header nav ul li:last-child{
	align-items: flex-start;
}
header nav ul li a{
	font-family:"Grenze Gotisch",serif;
	font-size:1.8em;
	font-weight:300;
	text-align: center;
	color:var(--druj-blue);
}
header nav ul li hr{
	width:94%;
	border-top:solid var(--druj-blue) 2px;
}
header nav ul li svg{
	max-height:110px;
	min-width: 80px;
}
header nav ul li svg .luna{
	fill:var(--druj-light-blue);
}
header nav ul li svg .edificio{
	fill:var(--druj-blue);
}
.home{
	background-color:var(--druj-blue);
	background-image:url("../img/edificio.jpg");
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: contain;
	background-blend-mode: exclusion;
}
.home section{
	height:100%;
	display:grid;
	grid-template-columns:1fr 1fr;
	grid-template-rows:80% 20%;
	grid-template-areas:"titulo parrafo"
	"boton boton";
	padding:0% 3%;
}
.home section h1{
	font-family:"Inconsolata",sans-serif;
	font-size:1.5em;
	font-weight:500;
	font-stretch:semi-condensed;
	text-align: left;
	color:var(--background);
	grid-area:titulo;
	justify-self:flex-start;
	align-self:start;
	margin-top:20%;
}
.home section p{
	font-family:"Inconsolata",sans-serif;
	font-size:1.2em;
	font-weight:300;
	font-stretch:semi-condensed;
	text-align: right;
	color:var(--background);
	grid-area:parrafo;
	width:400px;
	justify-self:flex-end;
	align-self:start;
	margin-top:20%;
}
.home section .button{
	font-family:"Grenze Gotisch",serif;
	font-size:1.4em;
	font-weight:600;
	color:var(--druj-blue);
	background-color:var(--background);
	padding:0.5% 1%;
	border-radius:2px;
	grid-area:boton;
	width: fit-content;
    height: fit-content;
    justify-self:center;
	align-self:center;
}
.page{
	margin-top:2%;
	padding:0% 2.5%;
	margin-bottom:3%;
}
.page section{
	height:100%;
	border:solid var(--asha-red) 2px;
	padding:2% 3%;
}
.page section h1{
	font-family:"Grenze Gotisch",serif;
	font-size:3em;
	font-weight:300;
	text-align:left;
	color:var(--asha-red);
}
.page section p{
	font-family:"Inconsolata",sans-serif;
	font-size:1.5em;
	font-weight:300;
	font-stretch:semi-condensed;
	text-align:justify;
	color:var(--asha-red);
	margin-bottom:1%;
}
.page section hr{
	border-top:solid var(--asha-red) 2px;
}
.page section form{
	margin-top:2%;
}
.page section form fieldset{
	border:none;
	margin-bottom:1%;
	position:relative;
	display:flex;
	flex-direction:row;
    flex-wrap: nowrap;
    justify-content:center;
    align-items: center;
}
.page section form fieldset legend{
	font-family:"Inconsolata",sans-serif;
	font-size:1.3em;
	font-weight:300;
	font-stretch:semi-condensed;
	text-align:center;
	color:var(--asha-red);
	margin-bottom:1%;
}
.page section form fieldset legend strong{
	font-family:"Grenze Gotisch",serif;
	font-size:2em;
	font-weight:300;
}
.page section form fieldset div{
	display:grid;
  	grid-template-columns:2em auto;
  	gap:0.5em;
  	align-items:center;
  	margin:0 10vw;
}
.page section form fieldset div input[type="radio"]{
 	-webkit-appearance:none;
  	appearance:none;
  	display:grid;
  	place-content:center;
  	background-color:var(--background);
  	margin:0;
  	font:inherit;
  	color:var(--asha-red);
  	width:2em;
  	height:2em;
  	border:solid var(--asha-red) 2px;
  	cursor:pointer;
  	transition:color, border;
	transition-duration:0.3s;
	transition-timing-function:cubic-bezier(0.35, 0.6, 0.57, 0.86);
}
.page section form fieldset div input[type="radio"]:checked{
	color:var(--asha-light-red);
	border:solid var(--asha-light-red) 2px;
}
.page section form fieldset div input[type="radio"]::before{
 	content:"";
 	width:2em;
  	height:2em;
  	transform:scale(0);
  	transition:transform 0.3s cubic-bezier(0.35, 0.6, 0.57, 0.86);
  	box-shadow:inset 2em 2em var(--asha-light-red);
}
.page section form fieldset div input[type="radio"]:checked::before{
	transform:scale(1);
}
.page section form fieldset div label{
	font-family:"Inconsolata",sans-serif;
	font-size:1.3em;
	font-weight:300;
	font-stretch:semi-condensed;
	text-align:center;
	color:var(--asha-red);
	transition:font-weight, color;
	transition-duration:0.3s;
	transition-timing-function:ease-out;
}
.page section form fieldset div input[type="radio"]:checked + label{
	font-weight:500;
	color:var(--asha-light-red);
}
.page section form fieldset .error-message{
	position:absolute;
	right:10%;
	font-style:italic;
	font-size:0.8em;
	padding:1% 1%;
	background-color:var(--asha-red);
	color:var(--background);
	animation:insertMessage 0.4s alternate ease-out forwards;
}
.page section form fieldset .error-message-close{
	animation:removeMessage 0.4s alternate ease-out forwards;
}
.page section form fieldset .error-message p{
	color:inherit;
}
.page section form input[type="submit"]{
	display: block;
    margin-left: auto;
    margin-right: auto;
    font-family:"Grenze Gotisch",serif;
	font-size:1.4em;
	font-weight:600;
	color:var(--asha-red);
	background-color:var(--background);
	border:solid var(--asha-red) 2px;
	padding:0.5% 1%;
	border-radius:2px;
	transition:color, background-color, border;
	transition-duration:0.3s;
	transition-timing-function:ease-out;
	cursor:pointer;
}
.page section form input[type="submit"]:hover{
	color:var(--background);
	background-color:var(--asha-light-red);
	border:solid transparent 2px;
}
.page section .contenedor-presentacion-resumen, .page section .contenedor-resumen{
	width:80vw;
	margin-left:auto;
	margin-right:auto;
	margin-top:2%;
}
.page section .contenedor-resumen .resumen{
	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	justify-content:flex-start;
	align-items:center;
	gap:2%;
}
.page section .contenedor-presentacion-resumen h2{
	font-family:"Grenze Gotisch",serif;
	font-size:2.5em;
	font-weight:300;
	text-align:left;
	color:var(--druj-blue);
}
.page section .contenedor-resumen h3{
	font-family:"Grenze Gotisch",serif;
	font-size:2.2em;
	font-weight:300;
	text-align:center;
	color:var(--druj-blue);
	margin-bottom:2%;
}
.page section .contenedor-presentacion-resumen p, .page section .contenedor-resumen p{
	color:var(--druj-blue);
}
.page section .contenedor-resumen .respuesta{
	font-weight:500;
	color:var(--background);
	background-color:var(--druj-blue);
	width:50px;
	height:50px;
	display:grid;
	place-items:center;
}
@keyframes insertMessage{
	to{
		transform:translateX(0%);
		opacity:1;
	}
	from{
		transform:translateX(-20%);
		opacity:0;
	}
}
@keyframes removeMessage{
	to{
		transform:translateX(20%);
		opacity:0;
	}
	from{
		transform:translateX(0%);
		opacity:1;
	}
}